version: "3"
services:
  app:
    container_name: "bot_app"
    build: ./app
    environment:
      - "PGUSER=root"
      - "PGHOST=pg"
      - "PGPASSWORD=root_password"
      - "PGDATABASE=db"
      - "PGPORT=5432"
    volumes: 
      - ./app:/usr/src/app
    #depends_on: 
    #  - "pg"
  pg:
    image: "postgres:12"
    container_name: "pg"
    environment:
      - "POSTGRES_PASSWORD=root_password"
      - "POSTGRES_USER=root"
      - "POSTGRES_DB=db"
    ports:
      - "5432:5432"
    volumes:
      - ./pg/db_data:/var/lib/postgresql/data